<footer style="text-align: center; padding: 5px; color: #237CBE; background: #F0F0F0">
  <p>
    Copyright &copy; 2016
    <%= link_to 'Ainza Interactive','http://ainzainteractive.com' %>
  </p>
</footer>